/* ---------- GLOBAL CSS ----------------- */
body {
  max-width: 90%;
  margin: auto;
  background-color: whitesmoke;
}

#root>div {
  width: 70%;
  margin: auto;
}

.selectionMap {
  display: flex;
  flex-flow: row wrap;
  list-style-type: '';
  padding: 0;
}

.selectionMap li{
  margin: 0px 0px 0px 30px;
}

button {
  border-radius: 0.5em;
  min-height: 2.5em;
  min-width: 4em;
  background-color: #cee0ff;
  border-color: #9c9c9c;
}

/* ---------- END GLOBAL CSS ----------------- */

/* ---------- LANDING PAGE CSS ----------------- */
.landingPage button {
  margin: auto 10px;
}

.residency {
  display: flex;
  flex-flow: row nowrap;
}

.appDescription {
  width: 80%;
  height: 300px;
  padding: 1em;
  margin: 1em auto;
  overflow-y: scroll;
  background-color: #FFFFFF;
  border-radius: 1em;
}

#startButton {
  margin: auto auto auto 80%;
  height: 2em;
  font-size: large;
}
/* ---------- END LANDING PAGE CSS ----------------- */

/* ----------SEARCH BAR CSS ------------ */
.searchBar {
  padding: 0.35em;
}

.searchBar > input {
  margin-right: 0.5em;
  min-height: 2em;
}

.searchBar > button {

}

/* ---------- END SEARCH BAR CSS ------------ */

/* ---------- DATA GROUP/TABLES CSS ----------- */
.comparisonChartArea {
  display: flex;
  flex-flow: wrap;
  margin: 1em auto;
  border-radius: 1em;
  min-width: 750px;
  padding: 1.5em;
  background-color: #FFFFFF;
}

.comparisonTitle {
  margin: auto auto auto 40%;
}

.datagroup {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin: 1em auto;
  border-radius: 1em;
  padding: 1.5em;
  min-width: 750px;
}

.sectionTitle {
  width: 20%;
}

.dataTables {
  display: flex;
  flex-wrap: wrap;
}

.dataTables div {
  margin: 1em 1em;
}

.predictions {
  min-width: 90%;
  padding: 1.5em;
}

.simpleTable {
  margin: 10px auto;
  text-align: center;
}

.simpleTable th {
  width: 50px;
}

.simpleTable td {
  width: 50px;
}

table caption {
  min-width: 200px;
}

td {
  font-size: 1em;
}

/* ---------- END DATA GROUP/TABLES CSS ----------- */

.home {
  margin: auto 10px;
}

.home svg{
  width: 2em;
  height: 2em;
}

.title {
  display: flex;
}

.title h1 {
  width: 90%;
}
